@model IEnumerable<ContactLocation>

@{
    ViewData["Title"] = "Контакты";
    Layout = "_Layout";
}

<table class="table table-striped table-sm">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ContactLocationId</td>
            <td>@item.LocationName</td>
        </tr>
    }
</table>